[submodule "3733/Projects/Project0"]
	path = 3733/Projects/Project0
	url = https://github.com/svadlamudi2/CS3733-Starter-Code
[submodule "3733/CS3733-Team-M-Project"]
	path = 3733/CS3733-Team-M-Project
	url= https://github.com/CS3733-D21-Team-M/CS3733-Team-M-Project.git