[submodule "3041/lab1"]
	path = 3041/lab1
	url = https://github.com/kush5683/lab1
[submodule "3041/lab0"]
	path = 3041/lab0
	url = https://github.com/kush5683/lab0
[submodule "3733/Projects/Project0"]
	path = 3733/Projects/Project0
	url = https://github.com/svadlamudi2/CS3733-Starter-Code
